---
swagger: "2.0"
info:
  description: "Modelo de API para transações da Saque e Pague. O parceiro interessado\
    \ deve implementar as operações desejadas para que a SeP consiga se comunicar\
    \ com o mesmo."
  version: "1.19.10"
  title: "Saque e Pague Transacional"
  contact:
    name: "Time Saque e Pague"
    url: "http://www.saqueepague.com.br"
host: "api-saqueepague.sensedia.com"
basePath: "/saqueepague/SepTransaction/1.19.10"
tags:
- name: "Deposito com Cartao"
  description: "Transações necessárias para efetuar um Depósito com Cartão."
- name: "Deposito sem Cartao"
  description: "Transações necessárias para efetuar um Deposito via Carteira Digital."
- name: "Deposito via Carteira Digital"
  description: "Transações necessárias para efetuar transação de Extrato com Cartaoia\
    \ Carteira Digital."
- name: "Emprestimo com Cartao"
  description: "Transações necessárias para efetuar um Empréstimo com Cartão."
- name: "Extrato com Cartao"
  description: "Transações necessárias para efetuar um Pagamento com Cartao."
- name: "Pagamento com Cartao"
  description: "Transações necessárias para efetuar um Pagamento com Cartão."
- name: "Pagamento sem Cartao"
  description: "Transações necessárias para efetuar um Pagamento sem Cartão."
- name: "Recarga"
  description: "Transações necessárias para efetuar uma Recarga de cartão Pré-Pago."
- name: "Recarga Celular"
  description: "Transações necessárias para efetuar uma Recarga de celular Pré-Pago."
- name: "Saldo com Cartao"
  description: "Transações necessárias para efetuar um Saldo com Cartão."
- name: "Saque com Cartao"
  description: "Transações necessárias para efetuar um Saque com Cartão."
- name: "Saque sem Cartao"
  description: "Transações necessárias para efetuar um Saque sem Cartão."
- name: "Saque via Carteira Digital"
  description: "Transações necessárias para efetuar transação de Saque via Carteira\
    \ Digital."
- name: "Transferencia com Cartao"
  description: "Transações necessárias para efetuar uma Transferência com Cartão."
- name: "Transferencia sem Cartao"
  description: "Transações necessárias para efetuar uma Transferência sem Cartão."
- name: "Titulos de Capitalizacao"
  description: "Transações de compra de Títulos de Capitalização."
- name: "Default"
  description: "Todas transações da Saque e Pague."
schemes:
- "https"
paths:
  /autenticacao:
    post:
      tags:
      - "Saque via Carteira Digital"
      - "Default"
      description: "Operação de autenticação de cliente sem cartão, chamada para retornar\
        \ o nome do cliente autenticado."
      operationId: "autenticacaoPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de autenticação."
        required: true
        schema:
          $ref: "#/definitions/autenticacaoReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/autenticacaoResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "SaqueViaCarteiraDigital"
  /compraTitulosCapitalizacao:
    post:
      tags:
      - "Titulos de Capitalizacao"
      - "Default"
      description: "Operação de compra de títulos de capitalização."
      operationId: "compraTitulosCapitalizacaoPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de operação de compra de títulos de capitalizaçã\
          o."
        required: true
        schema:
          $ref: "#/definitions/compraTitulosCapitalizacaoReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/compraTitulosCapitalizacaoResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "TitulosDeCapitalizacao"
  /compraTitulosCapitalizacaoConf:
    post:
      tags:
      - "Titulos de Capitalizacao"
      - "Default"
      description: "Confirmação de operação de compra de títulos de capitalização."
      operationId: "compraTitulosCapitalizacaoConfPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de confirmação de operação de compra de titulos de\
          \ capitalizacao"
        required: true
        schema:
          $ref: "#/definitions/transacConf"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "TitulosDeCapitalizacao"
  /consultaConta:
    post:
      tags:
      - "Deposito sem Cartao"
      - "Deposito via Carteira Digital"
      - "Transferencia com Cartao"
      - "Transferencia sem Cartao"
      - "Default"
      description: "Operação de consulta de conta de favorecido, usada previamente\
        \ ao depósito para verificar se a conta é válida e está habilitada para depó\
        sito."
      operationId: "consultaContaPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de consulta de conta."
        required: true
        schema:
          $ref: "#/definitions/consultaContaReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/consultaContaResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "DepositoSemCartao"
  /consultaLimitesEmprestimo:
    post:
      tags:
      - "Emprestimo com Cartao"
      - "Default"
      description: "Operação de consulta dos limites disponíveis para empréstimo.\
        \ Esta operação é válida somente com os dados do cartão."
      operationId: "consultaLimitesEmprestimoPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de consulta limites de empréstimo, usando dados do\
          \ cartão."
        required: true
        schema:
          $ref: "#/definitions/consultaLimitesEmprestimoReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/consultaLimitesEmprestimoResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      deprecated: true
      x-swagger-router-controller: "EmprestimoComCartao"
  /consultaPagamento:
    post:
      tags:
      - "Pagamento com Cartao"
      - "Pagamento sem Cartao"
      - "Default"
      description: "Operação de consulta de informações do boleto a ser pago em dinheiro\
        \ ou débito em conta."
      operationId: "consultaPagamentoPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição para consulta de pagamento de boleto com cartão."
        required: true
        schema:
          $ref: "#/definitions/consultaPagamentoReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/consultaPagamentoResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "PagamentoComCartao"
  /consultaParcelasEmprestimo:
    post:
      tags:
      - "Emprestimo com Cartao"
      - "Default"
      description: "Operação de consulta de condições disponíveis de parcelamento\
        \ do empréstimo."
      operationId: "consultaParcelasEmprestimoPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de consulta parcelas de empréstimo."
        required: true
        schema:
          $ref: "#/definitions/consultaParcelasEmprestimoReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/consultaParcelasEmprestimoResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "EmprestimoComCartao"
  /consultaPrePago:
    post:
      tags:
      - "Recarga Celular"
      - "Default"
      description: "Operação de consulta dos possíveis produtos de recarga de cartã\
        o pré-pago. Operação relacionada a transação consultaPrePago."
      operationId: "consultaPrePagoPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de consulta produtos de recarga de cartão pré-pago."
        required: true
        schema:
          $ref: "#/definitions/consultaPrePagoReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/consultaPrePagoResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "RecargaCelular"
  /consultaProdutosRecarga:
    post:
      tags:
      - "Recarga"
      - "Default"
      description: "Operação de consulta dos possíveis produtos de recarga de transporte\
        \ para o cartão informado pelo cliente. Operação relacionada a transação consultaProdutosRecarga."
      operationId: "consultaProdutosRecargaPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de consulta produtos de recarga disponíveis para\
          \ um cartão."
        required: true
        schema:
          $ref: "#/definitions/consultaProdutosRecargaReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/consultaProdutosRecargaResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "Recarga"
  /consultaSaque:
    post:
      tags:
      - "Saque sem Cartao"
      - "Default"
      description: "Operação de consulta para saque de moeda estrangeira (câmbio).\
        \ Efetuada para autenticar cliente, retornando valorde saque, moeda e dados\
        \ adicionais."
      operationId: "consultaSaquePOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de consulta de saque."
        required: true
        schema:
          $ref: "#/definitions/consultaSaqueReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/consultaSaqueResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "SaqueSemCartao"
  /consultaTaxas:
    post:
      tags:
      - "Saque via Carteira Digital"
      - "Deposito via Carteira Digital"
      - "Default"
      description: "Operação de consulta de taxas dinâmicas, requisitado antes de\
        \ depósito ou saque de carteira de digital."
      operationId: "consultaTaxasPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de consulta de taxas."
        required: true
        schema:
          $ref: "#/definitions/consultaTaxasReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/consultaTaxasResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "SaqueViaCarteiraDigital"
  /consultaTitulosCapitalizacao:
    post:
      tags:
      - "Titulos de Capitalizacao"
      - "Default"
      description: "Operação de consulta dos possíveis produtos de títulos de capitalizaç\
        ão de uma operadora."
      operationId: "consultaTitulosCapitalizacaoPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de consulta produtos de títulos de capitalização."
        required: true
        schema:
          $ref: "#/definitions/consultaTitulosCapitalizacaoReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/consultaTitulosCapitalizacaoResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "TitulosDeCapitalizacao"
  /consultaValoresRecarga:
    post:
      tags:
      - "Recarga"
      - "Default"
      description: "Operação de consulta dos produtos de recarga de cartão pré-pago\
        \ de transporte. Traz uma lista de todas as operadoras e seus respectivos\
        \ produtos/valores."
      operationId: "consultaValoresRecargaPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de consulta valores de recarga de cartão."
        required: true
        schema:
          $ref: "#/definitions/consultaValoresRecargaReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/consultaValoresRecargaResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "Recarga"
  /deposito:
    post:
      tags:
      - "Deposito sem Cartao"
      - "Deposito com Cartao"
      - "Deposito via Carteira Digital"
      - "Default"
      description: "Operação de depósito em dinheiro, cartão é opcional nesta operaç\
        ão."
      operationId: "depositoPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Objeto da requisição de depósito, cartão é opcional."
        required: true
        schema:
          $ref: "#/definitions/depositoReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/depositoResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "DepositoSemCartao"
  /depositoConf:
    post:
      tags:
      - "Deposito sem Cartao"
      - "Deposito com Cartao"
      - "Deposito via Carteira Digital"
      - "Default"
      description: "Confirmação de operação de depósito."
      operationId: "depositoConfPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de confirmação de operação de depósito."
        required: true
        schema:
          $ref: "#/definitions/transacConf"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "DepositoSemCartao"
  /emprestimo:
    post:
      tags:
      - "Emprestimo com Cartao"
      - "Default"
      description: "Operação de empréstimo."
      operationId: "emprestimoPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de empréstimo."
        required: true
        schema:
          $ref: "#/definitions/emprestimoReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/emprestimoResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "EmprestimoComCartao"
  /emprestimoConf:
    post:
      tags:
      - "Emprestimo com Cartao"
      - "Default"
      description: "Confirmação de operação de empréstimo."
      operationId: "emprestimoConfPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de confirmação de operação de empréstimo."
        required: true
        schema:
          $ref: "#/definitions/transacConf"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "EmprestimoComCartao"
  /extrato:
    post:
      tags:
      - "Extrato com Cartao"
      - "Default"
      description: "Operação de extrato."
      operationId: "extratoPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de operação de extrato."
        required: true
        schema:
          $ref: "#/definitions/extratoReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/extratoResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "ExtratoComCartao"
  /extratoConf:
    post:
      tags:
      - "Extrato com Cartao"
      - "Default"
      description: "Confirmação de operação de extrato."
      operationId: "extratoConfPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de confirmação de operação de extrato."
        required: true
        schema:
          $ref: "#/definitions/transacConf"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "ExtratoComCartao"
  /identificacao:
    post:
      tags:
      - "Saque com Cartao"
      - "Saldo com Cartao"
      - "Extrato com Cartao"
      - "Deposito com Cartao"
      - "Emprestimo com Cartao"
      - "Pagamento com Cartao"
      - "Transferencia com Cartao"
      - "Default"
      description: "Operação de identificação do cliente e informações adicionais\
        \ de sua conta."
      operationId: "identificacaoPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de identificação."
        required: true
        schema:
          $ref: "#/definitions/identificacaoReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/identificacaoResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "SaqueComCartao"
  /pagamento:
    post:
      tags:
      - "Pagamento com Cartao"
      - "Pagamento sem Cartao"
      - "Default"
      description: "Operação de pagamento de boleto de cobrança com cartão."
      operationId: "pagamentoPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição para pagamento de boleto com cartão."
        required: true
        schema:
          $ref: "#/definitions/pagamentoReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/pagamentoResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "PagamentoComCartao"
  /pagamentoConf:
    post:
      tags:
      - "Pagamento com Cartao"
      - "Pagamento sem Cartao"
      - "Default"
      description: "Confirmação de operação de pagamento de boleto de cobrança."
      operationId: "pagamentoConfPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de confirmação de operação de pagamento."
        required: true
        schema:
          $ref: "#/definitions/transacConf"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "PagamentoComCartao"
  /recarga:
    post:
      tags:
      - "Recarga"
      - "Default"
      description: "Operação de recarga de cartão pré-pago de transporte (bilhetagem)\
        \ em dinheiro."
      operationId: "recargaPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de operação de recarga de um cartão."
        required: true
        schema:
          $ref: "#/definitions/recargaReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/recargaResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "Recarga"
  /recargaConf:
    post:
      tags:
      - "Recarga"
      - "Default"
      description: "Operação de confirmação de recarga de cartão pré-pago de transporte\
        \ (bilhetagem)."
      operationId: "recargaConfPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de confirmação de operação de recarga."
        required: true
        schema:
          $ref: "#/definitions/transacConf"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "Recarga"
  /recargaPrePago:
    post:
      tags:
      - "Recarga Celular"
      - "Default"
      description: "Operação de recarga de celular pré-pago."
      operationId: "recargaPrePagoPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição para recarga de celular pré-pago."
        required: true
        schema:
          $ref: "#/definitions/recargaPrePagoReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/recargaPrePagoResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "RecargaCelular"
  /recargaPrePagoConf:
    post:
      tags:
      - "Recarga Celular"
      - "Default"
      description: "Confirmação de operação de recarga."
      operationId: "recargaPrePagoConfPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de confirmação de operação de recarga de celular\
          \ pré-pago."
        required: true
        schema:
          $ref: "#/definitions/transacConf"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "RecargaCelular"
  /saldo:
    post:
      tags:
      - "Saldo com Cartao"
      - "Default"
      description: "Operação de consulta do valor de saldo disponível em conta."
      operationId: "saldoPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de operação de consulta de saldo."
        required: true
        schema:
          $ref: "#/definitions/saldoReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/saldoResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "SaldoComCartao"
  /saldoConf:
    post:
      tags:
      - "Saldo com Cartao"
      - "Default"
      description: "Confirmação de operação de consulta de saldo."
      operationId: "saldoConfPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de confirmação de operação de consulta de saldo."
        required: true
        schema:
          $ref: "#/definitions/transacConf"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "SaldoComCartao"
  /saque:
    post:
      tags:
      - "Saque com Cartao"
      - "Saque sem Cartao"
      - "Saque via Carteira Digital"
      - "Default"
      description: "Operação de saque de dinheiro em moeda local ou estrangeira."
      operationId: "saquePOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de operação de saque."
        required: true
        schema:
          $ref: "#/definitions/saqueReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/saqueResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "SaqueComCartao"
  /saqueConf:
    post:
      tags:
      - "Saque com Cartao"
      - "Saque sem Cartao"
      - "Saque via Carteira Digital"
      - "Default"
      description: "Confirmação de operação de saque."
      operationId: "saqueConfPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de confirmação de operação de saque."
        required: true
        schema:
          $ref: "#/definitions/transacConf"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "SaqueComCartao"
  /token:
    post:
      tags:
      - "Default"
      - "Deposito com Cartao"
      - "Deposito sem Cartao"
      - "Deposito via Carteira Digital"
      - "Emprestimo com Cartao"
      - "Extrato com Cartao"
      - "Pagamento com Cartao"
      - "Pagamento sem Cartao"
      - "Recarga"
      - "Recarga Celular"
      - "Saldo com Cartao"
      - "Saque com Cartao"
      - "Saque sem Cartao"
      - "Saque via Carteira Digital"
      - "Transferencia com Cartao"
      - "Transferencia sem Cartao"
      - "Titulos de Capitalizacao"
      operationId: "tokenPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "clientSecret"
        in: "header"
        description: "Cliente Secret."
        required: true
        type: "string"
        x-example: "prd-client"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/infTokenResp"
      x-swagger-router-controller: "Default"
  /transferencia:
    post:
      tags:
      - "Default"
      - "Transferencia com Cartao"
      - "Transferencia sem Cartao"
      description: "Operação de transferência entre contas."
      operationId: "transferenciaPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de operação de transferência."
        required: true
        schema:
          $ref: "#/definitions/transferenciaReq"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
          schema:
            $ref: "#/definitions/transferenciaResp"
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "Default"
  /transferenciaConf:
    post:
      tags:
      - "Default"
      - "Transferencia com Cartao"
      - "Transferencia sem Cartao"
      description: "Confirmação de operação de transferência."
      operationId: "transferenciaConfPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "authenticationType"
        in: "header"
        description: "Tipo de autenticação requerida."
        required: true
        type: "string"
        x-example: "auth2"
      - name: "clientId"
        in: "header"
        description: "Identificação do cliente."
        required: true
        type: "string"
        x-example: "prd-client"
      - name: "token"
        in: "header"
        description: "Chave para validação do acesso ao serviço."
        required: true
        type: "string"
        x-example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjYsInByb2ZpbGUiOltdLCJpYXQiOjE0OTkwOsY4NDV9.uR5WH3c2ZztGmZVCfcJPu-1ix1w-j7shJw_X_ZlFfAo"
      - in: "body"
        name: "body"
        description: "Requisição de confirmação de operação de transferência."
        required: true
        schema:
          $ref: "#/definitions/transacConf"
      responses:
        200:
          description: "Retorno com sucesso ou com Erro de negócio."
        400:
          description: "Bad Request ou Erro interno ao qual inviabilizou uma resposta."
        401:
          description: "Acesso não autorizado."
      x-swagger-router-controller: "Default"
definitions:
  autenticacaoReq:
    type: "object"
    required:
    - "InfAutenticacao"
    - "InfTransacao"
    - "Terminal"
    properties:
      InfAutenticacao:
        $ref: "#/definitions/infAutenticacaoReq"
      InfTransacao:
        $ref: "#/definitions/infTransacaoReq"
      Terminal:
        $ref: "#/definitions/terminal"
  autenticacaoResp:
    type: "object"
    required:
    - "InfAutenticacao"
    - "InfTransacao"
    - "Terminal"
    properties:
      Cripto:
        $ref: "#/definitions/criptoResp"
      InfAutenticacao:
        $ref: "#/definitions/infAutenticacaoResp"
      InfTransacao:
        $ref: "#/definitions/infTransacaoResp"
      Terminal:
        $ref: "#/definitions/terminal"
    example:
      InfTransacao:
        cdProc: "029100"
        mensagemCliente: "Esta &eacute; uma mensagem para exibi&ccedil;&atilde;o em\
          \ tela."
        nsu: "000080247206"
        codMoeda: "986"
        codOperadora: "00000000914"
        dataLocal: "1122"
        errorMessage: ""
        valor: "5000"
        horaLocal: "151032"
        nsuResposta: "820"
        dataHora: "1122151032"
      Cripto:
        hash: "hash"
      InfAutenticacao:
        nomeCliente: "Carl Edward Sagan"
      Terminal:
        codEstab: "000000000742673"
        tipo: "008"
        id: "05100004"
  cartao:
    type: "object"
    properties:
      modoEntrada:
        type: "string"
        description: "Modo de entrada de leitura do cartão. (000 = sem cartão, 050\
          \ = chip, 800 = chip, se falhar realiza leitura da trilha, 900 = trilha\
          \ completa)."
        enum:
        - "000"
        - "050"
        - "800"
        - "900"
      pan:
        type: "string"
        example: "zhXTyHl5nf2ckysYXXjAgZS5fzS7ybC5xePnWeLEP//bw=="
        description: "PAN/Número do cartão utilizado (dado criptografado)."
        pattern: "^.{10,}$"
      trilha2:
        type: "string"
        example: "mMIrkIrf2pSHccWuaROxoIS+NGcTOWcTWXUtjniTa1BRzPziiE8pWnknAxW9HIgoKdc/Fli2KZwNA=="
        description: "Trilha 2 do cartão utilizado (dado criptografado)."
        pattern: "^.{10,}$"
  compraTitulosCapitalizacaoReq:
    type: "object"
    required:
    - "InfCompraTitulosCapitalizacao"
    - "InfTransacao"
    - "Terminal"
    properties:
      InfCompraTitulosCapitalizacao:
        $ref: "#/definitions/infCompraTitulosCapitalizacaoReq"
      InfTransacao:
        $ref: "#/definitions/infTransacaoReq"
      Terminal:
        $ref: "#/definitions/terminal"
  compraTitulosCapitalizacaoResp:
    type: "object"
    required:
    - "InfCompraTitulosCapitalizacao"
    - "InfTransacao"
    - "Terminal"
    properties:
      InfCompraTitulosCapitalizacao:
        $ref: "#/definitions/infCompraTitulosCapitalizacaoResp"
      InfTransacao:
        $ref: "#/definitions/infTransacaoResp"
      Terminal:
        $ref: "#/definitions/terminal"
    example:
      InfCompraTitulosCapitalizacao:
        recibo: "@               TITULOS COMPRADOS                @              \
          \                                  @ NOME DO TITULO:  XXXXXXXXXXXXX    \
          \             @ QUANTIDADE: 2                                  @ VALOR:\
          \ R$ 25,00                                @ VALOR TOTAL: R$ 50,00      \
          \                    @ TELEFONE: 05199999999                          @\
          \ CPF: 02358422785                               "
      InfTransacao:
        cdProc: "029100"
        mensagemCliente: "Esta &eacute; uma mensagem para exibi&ccedil;&atilde;o em\
          \ tela."
        nsu: "000080247206"
        codMoeda: "986"
        codOperadora: "00000000914"
        dataLocal: "1122"
        errorMessage: ""
        valor: "5000"
        horaLocal: "151032"
        nsuResposta: "820"
        dataHora: "1122151032"
      Terminal:
        codEstab: "000000000742673"
        tipo: "008"
        id: "05100004"
  consultaContaReq:
    type: "object"
    required:
    - "InfConsultaConta"
    - "InfTransacao"
    - "Terminal"
    properties:
      Cartao:
        $ref: "#/definitions/cartao"
      Cripto:
        $ref: "#/definitions/cripto"
      InfConsultaConta:
        $ref: "#/definitions/infConsultaContaReq"
      InfTransacao:
        $ref: "#/definitions/infTransacaoReq"
      Terminal:
        $ref: "#/definitions/terminal"
  consultaContaResp:
    type: "object"
    required:
    - "InfConsultaConta"
    - "InfTransacao"
    - "Terminal"
    properties:
      Cripto:
        $ref: "#/definitions/criptoResp"
      InfConsultaConta:
        $ref: "#/definitions/infConsultaContaResp"
      InfTransacao:
        $ref: "#/definitions/infTransacaoResp"
      Terminal:
        $ref: "#/definitions/terminal"
    example:
      InfTransacao:
        cdProc: "029100"
        mensagemCliente: "Esta &eacute; uma mensagem para exibi&ccedil;&atilde;o em\
          \ tela."
        nsu: "000080247206"
        codMoeda: "986"
        codOperadora: "00000000914"
        dataLocal: "1122"
        errorMessage: ""
        valor: "5000"
        horaLocal: "151032"
        nsuResposta: "820"
        dataHora: "1122151032"
      InfConsultaConta:
        solicDoc: "00"
        modalidadeDeposito: "00"
        depositoVarejista: "01"
        nomeCliente: "Carl Edward Sagan"
        depositoIdentificado: "00"
        habilitaDeposito: "01"
      Cripto:
        hash: "hash"
      Terminal:
        codEstab: "000000000742673"
        tipo: "008"
        id: "05100004"
  consultaLimitesEmprestimoReq:
    type: "object"
    required:
    - "Cartao"
    - "InfTransacao"
    - "Terminal"
    properties:
      Cartao:
        $ref: "#/definitions/cartao"
      InfTransacao:
        $ref: "#/definitions/infTransacaoReq"
      Terminal:
        $ref: "#/definitions/terminal"
  consultaLimitesEmprestimoResp:
    type: "object"
    required:
    - "InfConsultaLimitesEmprestimo"
    - "InfTransacao"
    - "Terminal"
    properties:
      Cripto:
        $ref: "#/definitions/criptoResp"
      InfConsultaLimitesEmprestimo:
        $ref: "#/definitions/infConsultaLimitesEmprestimoResp"
      InfTransacao:
        $ref: "#/definitions/infTransacaoResp"
      Terminal:
        $ref: "#/definitions/terminal"
    example:
      InfTransacao:
        cdProc: "029100"
        mensagemCliente: "Esta &eacute; uma mensagem para exibi&ccedil;&atilde;o em\
          \ tela."
        nsu: "000080247206"
        codMoeda: "986"
        codOperadora: "00000000914"
        dataLocal: "1122"
        errorMessage: ""
        valor: "5000"
        horaLocal: "151032"
        nsuResposta: "820"
        dataHora: "1122151032"
      InfConsultaLimitesEmprestimo:
        limiteMinimoEmprestimo: "000000500000"
        limiteMaximoEmprestimo: "000005000000"
        nomeAgenciaBancaria: "Agência bancária"
        nomeTitularConta: "Carl Edward Sagan"
      Cripto:
        hash: "hash"
      Terminal:
        codEstab: "000000000742673"
        tipo: "008"
        id: "05100004"
  consultaParcelasEmprestimoReq:
    type: "object"
    required:
    - "Cartao"
    - "InfTransacao"
    - "Terminal"
    properties:
      Cartao:
        $ref: "#/definitions/cartao"
      InfTransacao:
        $ref: "#/definitions/infTransacaoReq"
      Terminal:
        $ref: "#/definitions/terminal"
      InfConsultaParcelasEmprestimo:
        $ref: "#/definitions/infConsultaParcelasEmprestimoReq"
  consultaParcelasEmprestimoResp:
    type: "object"
    required:
    - "InfConsultaParcelasEmprestimo"
    - "InfTransacao"
    - "Terminal"
    properties:
      Cripto:
        $ref: "#/definitions/criptoResp"
      InfConsultaParcelasEmprestimo:
        $ref: "#/definitions/infConsultaParcelasEmprestimoResp"
      InfTransacao:
        $ref: "#/definitions/infTransacaoResp"
      Terminal:
        $ref: "#/definitions/terminal"
    example:
      InfConsultaParcelasEmprestimo:
        opcoesParcelas:
        - valorParcela: "000000005000"
          qntParcelas: "5"
          tributos:
            taxaJurosMensal: "0809445"
            iof: "0809445"
            cetAnual: "0809445"
            cetMensal: "0809445"
            valorSolicitado: "000000000499"
            dataContratacao: "20200928"
            valorJuros: "0002422"
            taxaJurosAnual: "0809445"
            ultimoVencimento: "20200928"
            iofAdicional: "0809445"
            primeiroVencimento: "20200928"
        - valorParcela: "000000005000"
          qntParcelas: "5"
          tributos:
            taxaJurosMensal: "0809445"
            iof: "0809445"
            cetAnual: "0809445"
            cetMensal: "0809445"
            valorSolicitado: "000000000499"
            dataContratacao: "20200928"
            valorJuros: "0002422"
            taxaJurosAnual: "0809445"
            ultimoVencimento: "20200928"
            iofAdicional: "0809445"
            primeiroVencimento: "20200928"
        limiteMinimoEmprestimo: "000000500000"
        limiteMaximoEmprestimo: "000005000000"
        valorTotalDisponivel: "000000700000"
        dataPrimeiraParcela: "20181122"
        nomeAgenciaBancaria: "Agência bancária"
        nomeTitularConta: "Carl Edward Sagan"
      InfTransacao:
        cdProc: "029100"
        mensagemCliente: "Esta &eacute; uma mensagem para exibi&ccedil;&atilde;o em\
          \ tela."
        nsu: "000080247206"
        codMoeda: "986"
        codOperadora: "00000000914"
        dataLocal: "1122"
        errorMessage: ""
        valor: "5000"
        horaLocal: "151032"
        nsuResposta: "820"
        dataHora: "1122151032"
      Cripto:
        hash: "hash"
      Terminal:
        codEstab: "000000000742673"
        tipo: "008"
        id: "05100004"
  recargaPrePagoReq:
    type: "object"
    required:
    - "InfRecargaPrePago"
    - "InfTransacao"
    - "Terminal"
    properties:
      InfRecargaPrePago:
        $ref: "#/definitions/infRecargaPrePagoReq"
      InfTransacao:
        $ref: "#/definitions/infTransacaoReq"
      Terminal:
        $ref: "#/definitions/terminal"
  recargaPrePagoResp:
    type: "object"
    required:
    - "InfRecargaPrePago"
    - "InfTransacao"
    - "Terminal"
    properties:
      InfRecargaPrePago:
        $ref: "#/definitions/infRecargaPrePagoResp"
      InfTransacao:
        $ref: "#/definitions/infTransacaoResp"
      Terminal:
        $ref: "#/definitions/terminal"
    example:
      InfTransacao:
        cdProc: "029100"
        mensagemCliente: "Esta &eacute; uma mensagem para exibi&ccedil;&atilde;o em\
          \ tela."
        nsu: "000080247206"
        codMoeda: "986"
        codOperadora: "00000000914"
        dataLocal: "1122"
        errorMessage: ""
        valor: "5000"
        horaLocal: "151032"
        nsuResposta: "820"
        dataHora: "1122151032"
      InfRecargaPrePago:
        idRecarga: "b1a5c4bd-a914-4506-8d1d-744a6b3a285c"
        bonus: "000000000400"
      Terminal:
        codEstab: "000000000742673"
        tipo: "008"
        id: "05100004"
  consultaPrePagoReq:
    type: "object"
    required:
    - "InfConsultaPrePago"
    - "InfTransacao"
    - "Terminal"
    properties:
      InfConsultaPrePago:
        $ref: "#/definitions/infConsultaPrePagoReq"
      InfTransacao:
        $ref: "#/definitions/infTransacaoReq"
      Terminal:
        $ref: "#/definitions/terminal"
  consultaPrePagoResp:
    type: "object"
    required:
    - "InfConsultaPrePago"
    - "InfTransacao"
    - "Terminal"
    properties:
      InfConsultaPrePago:
        $ref: "#/definitions/infConsultaPrePagoResp"
      InfTransacao:
        $ref: "#/definitions/infTransacaoResp"
      Terminal:
        $ref: "#/definitions/terminal"
    example:
      InfTransacao:
        cdProc: "029100"
        mensagemCliente: "Esta &eacute; uma mensagem para exibi&ccedil;&atilde;o em\
          \ tela."
        nsu: "000080247206"
        codMoeda: "986"
        codOperadora: "00000000914"
        dataLocal: "1122"
        errorMessage: ""
        valor: "5000"
        horaLocal: "151032"
        nsuResposta: "820"
        dataHora: "1122151032"
      InfConsultaPrePago:
        produtos:
        - valorMaximo: "1500"
          idProduto: "CLARO"
          nomeOperadora: "CLARO"
          valorMinimo: "1000"
        - valorMaximo: "1500"
          idProduto: "CLARO"
          nomeOperadora: "CLARO"
          valorMinimo: "1000"
      Terminal:
        codEstab: "000000000742673"
        tipo: "008"
        id: "05100004"
  consultaProdutosRecargaReq:
    type: "object"
    required:
    - "InfConsultaProdutosRecarga"
    - "InfTransacao"
    - "Terminal"
    properties:
      InfConsultaProdutosRecarga:
        $ref: "#/definitions/infConsultaProdutosRecargaReq"
      InfTransacao:
        $ref: "#/definitions/infTransacaoReq"
      Terminal:
        $ref: "#/definitions/terminal"
  consultaProdutosRecargaResp:
    type: "object"
    required:
    - "InfConsultaProdutosRecarga"
    - "InfTransacao"
    - "Terminal"
    properties:
      InfConsultaProdutosRecarga:
        $ref: "#/definitions/infConsultaProdutosRecargaResp"
      InfTransacao:
        $ref: "#/definitions/infTransacaoResp"
      Terminal:
        $ref: "#/definitions/terminal"
    example:
      InfTransacao:
        cdProc: "029100"
        mensagemCliente: "Esta &eacute; uma mensagem para exibi&ccedil;&atilde;o em\
          \ tela."
        nsu: "000080247206"
        codMoeda: "986"
        codOperadora: "00000000914"
        dataLocal: "1122"
        errorMessage: ""
        valor: "5000"
        horaLocal: "151032"
        nsuResposta: "820"
        dataHora: "1122151032"
      InfConsultaProdutosRecarga:
        products:
        - name: "Produto de Recarga"
          id: "1"
        - name: "Produto de Recarga"
          id: "1"
      Terminal:
        codEstab: "000000000742673"
        tipo: "008"
        id: "05100004"
  consultaSaqueReq:
    type: "object"
    required:
    - "InfConsultaSaque"
    - "InfTransacao"
    - "Terminal"
    properties:
      Cripto:
        $ref: "#/definitions/cripto"
      InfConsultaSaque:
        $ref: "#/definitions/infConsultaSaqueReq"
      InfTransacao:
        $ref: "#/definitions/infTransacaoReq"
      Terminal:
        $ref: "#/definitions/terminal"
  consultaSaqueResp:
    type: "object"
    required:
    - "InfConsultaSaque"
    - "InfTransacao"
    - "Terminal"
    properties:
      InfConsultaSaque:
        $ref: "#/definitions/infConsultaSaqueResp"
      InfTransacao:
        $ref: "#/definitions/infTransacaoResp"
      Terminal:
        $ref: "#/definitions/terminal"
    example:
      InfTransacao:
        cdProc: "029100"
        mensagemCliente: "Esta &eacute; uma mensagem para exibi&ccedil;&atilde;o em\
          \ tela."
        nsu: "000080247206"
        codMoeda: "986"
        codOperadora: "00000000914"
        dataLocal: "1122"
        errorMessage: ""
        valor: "5000"
        horaLocal: "151032"
        nsuResposta: "820"
        dataHora: "1122151032"
      InfConsultaSaque:
        perguntas:
        - pergunta: "Informe os 3 primeiros dígitos do seu CPF"
          tamResposta: "3"
          id: "1"
        - pergunta: "Informe os 3 primeiros dígitos do seu CPF"
          tamResposta: "3"
          id: "1"
        nomeCliente: "Carl Edward Sagan"
      Terminal:
        codEstab: "000000000742673"
        tipo: "008"
        id: "05100004"
  consultaTaxasReq:
    type: "object"
    required:
    - "InfTransacao"
    - "Terminal"
    properties:
      InfTransacao:
        $ref: "#/definitions/infTransacaoReq"
      Terminal:
        $ref: "#/definitions/terminal"
  consultaTaxasResp:
    type: "object"
    required:
    - "InfConsultaTaxas"
    - "InfTransacao"
    - "Terminal"
    properties:
      Cripto:
        $ref: "#/definitions/criptoResp"
      InfConsultaTaxas:
        $ref: "#/definitions/infConsultaTaxasResp"
      InfTransacao:
        $ref: "#/definitions/infTransacaoResp"
      Terminal:
        $ref: "#/definitions/terminal"
    example:
      InfConsultaTaxas:
        transactions_fees:
        - fees:
          - min_amount: "000"
            max_amount: "10000"
            id: "0201"
            value: "000"
          - min_amount: "000"
            max_amount: "10000"
            id: "0201"
            value: "000"
          name: "deposit"
          id: "01"
        - fees:
          - min_amount: "000"
            max_amount: "10000"
            id: "0201"
            value: "000"
          - min_amount: "000"
            max_amount: "10000"
            id: "0201"
            value: "000"
          name: "deposit"
          id: "01"
      InfTransacao:
        cdProc: "029100"
        mensagemCliente: "Esta &eacute; uma mensagem para exibi&ccedil;&atilde;o em\
          \ tela."
        nsu: "000080247206"
        codMoeda: "986"
        codOperadora: "00000000914"
        dataLocal: "1122"
        errorMessage: ""
        valor: "5000"
        horaLocal: "151032"
        nsuResposta: "820"
        dataHora: "1122151032"
      Cripto:
        hash: "hash"
      Terminal:
        codEstab: "000000000742673"
        tipo: "008"
        id: "05100004"
  consultaTitulosCapitalizacaoReq:
    type: "object"
    required:
    - "InfTransacao"
    - "Terminal"
    properties:
      InfTransacao:
        $ref: "#/definitions/infTransacaoReq"
      Terminal:
        $ref: "#/definitions/terminal"
  consultaTitulosCapitalizacaoResp:
    type: "object"
    required:
    - "InfConsultaTitulosCapitalizacao"
    - "InfTransacao"
    - "Terminal"
    properties:
      InfConsultaTitulosCapitalizacao:
        $ref: "#/definitions/infConsultaTitulosCapitalizacaoResp"
      InfTransacao:
        $ref: "#/definitions/infTransacaoResp"
      Terminal:
        $ref: "#/definitions/terminal"
    example:
      InfTransacao:
        cdProc: "029100"
        mensagemCliente: "Esta &eacute; uma mensagem para exibi&ccedil;&atilde;o em\
          \ tela."
        nsu: "000080247206"
        codMoeda: "986"
        codOperadora: "00000000914"
        dataLocal: "1122"
        errorMessage: ""
        valor: "5000"
        horaLocal: "151032"
        nsuResposta: "820"
        dataHora: "1122151032"
      InfConsultaTitulosCapitalizacao:
        produtos:
        - limiteMaximoCompra: "4"
          tema:
            estilos:
            - valor: "#00288C"
              nome: "cor-fundo ou cor-botao"
            - valor: "#00288C"
              nome: "cor-fundo ou cor-botao"
          valor: "000000000500"
          nome: "Grêmio Mais"
          id: "7"
          dataFimVigencia: "20181130"
          dataInicioVigencia: "20181122"
          detalhes: "Edição ouro de mais um produto do Grêmio Mais"
          descricao: "Edição 115 Anos"
        - limiteMaximoCompra: "4"
          tema:
            estilos:
            - valor: "#00288C"
              nome: "cor-fundo ou cor-botao"
            - valor: "#00288C"
              nome: "cor-fundo ou cor-botao"
          valor: "000000000500"
          nome: "Grêmio Mais"
          id: "7"
          dataFimVigencia: "20181130"
          dataInicioVigencia: "20181122"
          detalhes: "Edição ouro de mais um produto do Grêmio Mais"
          descricao: "Edição 115 Anos"
      Terminal:
        codEstab: "000000000742673"
        tipo: "008"
        id: "05100004"
  consultaValoresRecargaReq:
    type: "object"
    required:
    - "InfTransacao"
    - "Terminal"
    properties:
      InfTransacao:
        $ref: "#/definitions/infTransacaoReq"
      Terminal:
        $ref: "#/definitions/terminal"
  consultaValoresRecargaResp:
    type: "object"
    required:
    - "InfConsultaValoresRecarga"
    - "InfTransacao"
    - "Terminal"
    properties:
      Cripto:
        $ref: "#/definitions/criptoResp"
      InfConsultaValoresRecarga:
        $ref: "#/definitions/infConsultaValoresRecargaResp"
      InfTransacao:
        $ref: "#/definitions/infTransacaoResp"
      Terminal:
        $ref: "#/definitions/terminal"
    example:
      InfTransacao:
        cdProc: "029100"
        mensagemCliente: "Esta &eacute; uma mensagem para exibi&ccedil;&atilde;o em\
          \ tela."
        nsu: "000080247206"
        codMoeda: "986"
        codOperadora: "00000000914"
        dataLocal: "1122"
        errorMessage: ""
        valor: "5000"
        horaLocal: "151032"
        nsuResposta: "820"
        dataHora: "1122151032"
      InfConsultaValoresRecarga:
        valores:
          issuers:
          - card_number_mask: "XXXXXXXXXXXXXX-X"
            card_number_length: 15
            name: "TEU"
            id: 1
            products:
            - min_value: "1000"
              fee: "200"
              values:
              - fee: "200"
                id: "1"
                value: "2000"
              - fee: "200"
                id: "1"
                value: "2000"
              name: "Bilhete Antecipado"
              id: "1"
              max_value: "9000"
            - min_value: "1000"
              fee: "200"
              values:
              - fee: "200"
                id: "1"
                value: "2000"
              - fee: "200"
                id: "1"
                value: "2000"
              name: "Bilhete Antecipado"
              id: "1"
              max_value: "9000"
          - card_number_mask: "XXXXXXXXXXXXXX-X"
            card_number_length: 15
            name: "TEU"
            id: 1
            products:
            - min_value: "1000"
              fee: "200"
              values:
              - fee: "200"
                id: "1"
                value: "2000"
              - fee: "200"
                id: "1"
                value: "2000"
              name: "Bilhete Antecipado"
              id: "1"
              max_value: "9000"
            - min_value: "1000"
              fee: "200"
              values:
              - fee: "200"
                id: "1"
                value: "2000"
              - fee: "200"
                id: "1"
                value: "2000"
              name: "Bilhete Antecipado"
              id: "1"
              max_value: "9000"
      Cripto:
        hash: "hash"
      Terminal:
        codEstab: "000000000742673"
        tipo: "008"
        id: "05100004"
  cripto:
    type: "object"
    properties:
      criptogramaChip:
        type: "string"
        description: "Em caso de cartão com chip, contém o criptograma dele."
      hash:
        type: "string"
        description: "Hash de todos os campos que compõem a transação."
      idPositiva:
        type: "string"
        example: "q0WKgCM+wbXjzlY="
        description: "Identificação positiva informada pelo usuário, caso utilizada,\
          \ com no mínimo 8 dígitos corresponde às posições (botões) em cada tela\
          \ apresentada. Caso a senha tenha menos de oito sílabas, são adicionados\
          \ zeros para as telas não existentes (dado criptografado)."
        pattern: "^.{8,}$"
      respostaCliente:
        $ref: "#/definitions/cripto_respostaCliente"
      senha:
        type: "string"
        example: "q0WKgCM+wbXjzlY="
        description: "Senha numérica criptografada."
      tamanhoSenha:
        type: "string"
        example: "15"
        description: "Tamanho da senha numérica."
        pattern: "^\\d+$"
      templateBiometria:
        type: "string"
        description: "Em caso de biometria, contém o template gerado."
      token:
        type: "string"
        example: "02C47DF604EB43B1"
        description: "Em caso de utilização de token para autenticação, contém o token\
          \ informado pelo usuário."
    description: "Informações relacionadas a criptografia e senhas da requisição.\
      \ Varia dependendo da necessidade de cada transação."
  criptoResp:
    type: "object"
    properties:
      hash:
        type: "string"
        description: "Hash de todos os campos que compõem a transação."
    example:
      hash: "hash"
  depositoReq:
    type: "object"
    required:
    - "InfDeposito"
    - "InfTransacao"
    - "Terminal"
    properties:
      Cartao:
        $ref: "#/definitions/cartao"
      Cripto:
        $ref: "#/definitions/cripto"
      InfDeposito:
        $ref: "#/definitions/infDepositoReq"
      InfTransacao:
        $ref: "#/definitions/infTransacaoReq"
      Terminal:
        $ref: "#/definitions/terminal"
  depositoResp:
    type: "object"
    required:
    - "InfDeposito"
    - "InfTransacao"
    - "Terminal"
    properties:
      Cripto:
        $ref: "#/definitions/criptoResp"
      InfDeposito:
        $ref: "#/definitions/infDepositoResp"
      InfTransacao:
        $ref: "#/definitions/infTransacaoResp"
      Terminal:
        $ref: "#/definitions/terminal"
    example:
      InfTransacao:
        cdProc: "029100"
        mensagemCliente: "Esta &eacute; uma mensagem para exibi&ccedil;&atilde;o em\
          \ tela."
        nsu: "000080247206"
        codMoeda: "986"
        codOperadora: "00000000914"
        dataLocal: "1122"
        errorMessage: ""
        valor: "5000"
        horaLocal: "151032"
        nsuResposta: "820"
        dataHora: "1122151032"
      Cripto:
        hash: "hash"
      InfDeposito:
        recibo: "@            COMPROVANTE DE DEPOSITO             @------------------------------------------------@\
          \ Agencia....: 0101                              @ Conta......: 74414-0\
          \                           @ Nome.......: EUGENIO SCHMITT COELHO      \
          \      @@------------------------------------------------@ Favorecido: EUGENIO\
          \ SCHMITT COELHO             @ Agencia Destino:                        \
          \   0101@ Conta Destino:         Conta Corrente - 74414-0@@Tipo        \
          \    NSU                        Valor@Dinheiro        697841472523     \
          \        R$20,00@------------------------------------------------@     \
          \          SAC - 0800 123 4569@      SAC - DEF. AUDITIVO - 0800 123 4568@\
          \            OUVIDORIA - 0800 123 4567@@             www.siteparceiro.com.br@"
      Terminal:
        codEstab: "000000000742673"
        tipo: "008"
        id: "05100004"
  emprestimoReq:
    type: "object"
    required:
    - "Cartao"
    - "InfEmprestimo"
    - "InfTransacao"
    - "Terminal"
    properties:
      Cartao:
        $ref: "#/definitions/cartao"
      Cripto:
        $ref: "#/definitions/cripto"
      InfEmprestimo:
        $ref: "#/definitions/infEmprestimoReq"
      InfTransacao:
        $ref: "#/definitions/infTransacaoReq"
      Terminal:
        $ref: "#/definitions/terminal"
  emprestimoResp:
    type: "object"
    required:
    - "InfEmprestimo"
    - "InfTransacao"
    - "Terminal"
    properties:
      Cripto:
        $ref: "#/definitions/criptoResp"
      InfEmprestimo:
        $ref: "#/definitions/infEmprestimoResp"
      InfTransacao:
        $ref: "#/definitions/infTransacaoResp"
      Terminal:
        $ref: "#/definitions/terminal"
    example:
      InfTransacao:
        cdProc: "029100"
        mensagemCliente: "Esta &eacute; uma mensagem para exibi&ccedil;&atilde;o em\
          \ tela."
        nsu: "000080247206"
        codMoeda: "986"
        codOperadora: "00000000914"
        dataLocal: "1122"
        errorMessage: ""
        valor: "5000"
        horaLocal: "151032"
        nsuResposta: "820"
        dataHora: "1122151032"
      Cripto:
        hash: "hash"
      Terminal:
        codEstab: "000000000742673"
        tipo: "008"
        id: "05100004"
      InfEmprestimo:
        recibo: "@           COMPROVANTE DE EMPRESTIMO            @------------------------------------------------@\
          \ Agencia....: 0101                              @ Conta......: 74414-0\
          \                           @ Nome.......: EUGENIO SCHMITT COELHO      \
          \      @@------------------------------------------------@ Favorecido: EUGENIO\
          \ SCHMITT COELHO             @ Agencia Destino:                        \
          \   0101@ Conta Destino:         Conta Corrente - 74414-0@@Tipo        \
          \    NSU                        Valor@Dinheiro        697841472523     \
          \        R$20,00@------------------------------------------------@     \
          \          SAC - 0800 123 4569@      SAC - DEF. AUDITIVO - 0800 123 4568@\
          \            OUVIDORIA - 0800 123 4567@@             www.siteparceiro.com.br@"
  extratoReq:
    type: "object"
    required:
    - "InfExtrato"
    - "InfTransacao"
    - "Terminal"
    properties:
      Cartao:
        $ref: "#/definitions/cartao"
      Cripto:
        $ref: "#/definitions/cripto"
      InfExtrato:
        $ref: "#/definitions/infExtratoReq"
      InfTransacao:
        $ref: "#/definitions/infTransacaoReq"
      Terminal:
        $ref: "#/definitions/terminal"
  extratoResp:
    type: "object"
    required:
    - "InfExtrato"
    - "InfTransacao"
    - "Terminal"
    properties:
      Cripto:
        $ref: "#/definitions/criptoResp"
      InfExtrato:
        $ref: "#/definitions/infExtratoResp"
      InfTransacao:
        $ref: "#/definitions/infTransacaoResp"
      Terminal:
        $ref: "#/definitions/terminal"
    example:
      InfExtrato:
        recibo: "@                EXTRATO DE CONTA                @              \
          \                                  @ CLIENTE: EUGENIO SCHMITT COELHO   \
          \             @ AGENCIA: 0150 CONTA: 03.013689.0-1             @ SALDO DA\
          \ CONTA                                 @ SALDO DEVEDOR...............R$\
          \          450,35-@ TOTAL DEVEDOR...............R$          450,35-@ LIMITE\
          \ DA CONTA.............R$          100,00 @ LIMITE DA CONTA DISPONIVEL..R$\
          \          350,35-@--------- MOVIMENTOS DA CONTA CORRENTE ---------@@  \
          \  SALDO ANT EM 18/01/2019               93,56-@    MOVIMENTOS JAN/2019\
          \                         @    COMPRAS           201218              85,68-@\
          \    COMPRAS           201218             139,14-@    COMPRAS          \
          \ 211218              20,70-@    COMPRAS           211218              39,00-@\
          \    SALDO NA DATA                        378,08-@"
        qtdPaginas: "000010"
      InfTransacao:
        cdProc: "029100"
        mensagemCliente: "Esta &eacute; uma mensagem para exibi&ccedil;&atilde;o em\
          \ tela."
        nsu: "000080247206"
        codMoeda: "986"
        codOperadora: "00000000914"
        dataLocal: "1122"
        errorMessage: ""
        valor: "5000"
        horaLocal: "151032"
        nsuResposta: "820"
        dataHora: "1122151032"
      Cripto:
        hash: "hash"
      Terminal:
        codEstab: "000000000742673"
        tipo: "008"
        id: "05100004"
  identificacaoReq:
    type: "object"
    required:
    - "Cartao"
    - "Cripto"
    - "InfIdentificacao"
    - "InfTransacao"
    - "Terminal"
    properties:
      Cartao:
        $ref: "#/definitions/cartao"
      Cripto:
        $ref: "#/definitions/cripto"
      InfIdentificacao:
        $ref: "#/definitions/infIdentificacaoReq"
      InfTransacao:
        $ref: "#/definitions/infTransacaoReq"
      Terminal:
        $ref: "#/definitions/terminal"
  identificacaoResp:
    type: "object"
    required:
    - "InfIdentificacao"
    - "InfTransacao"
    - "Terminal"
    properties:
      Cripto:
        $ref: "#/definitions/criptoResp"
      InfIdentificacao:
        $ref: "#/definitions/infIdentificacaoResp"
      InfTransacao:
        $ref: "#/definitions/infTransacaoResp"
      Terminal:
        $ref: "#/definitions/terminal"
    example:
      InfIdentificacao:
        pedirToken: "01"
        frase: "Informe o token gerado em seu app:"
        numAgencia: "4029"
        perguntas:
        - pergunta: "Qual é o dia de seu aniversário?"
          tamResposta: "2"
          id: "1"
        - pergunta: "Qual é o dia de seu aniversário?"
          tamResposta: "2"
          id: "1"
        idPositiva:
        - pos8: "4E-8G-1P"
          idTela: "1"
          pos4: "P1-G8-E4"
          pos5: "REG SOS"
          pos6: "EN/UQ/AM"
          pos7: "69 05 41"
          pos1: "SOS GER"
          pos2: "MA/QU/NE"
          pos3: "14 50 96"
        - pos8: "4E-8G-1P"
          idTela: "1"
          pos4: "P1-G8-E4"
          pos5: "REG SOS"
          pos6: "EN/UQ/AM"
          pos7: "69 05 41"
          pos1: "SOS GER"
          pos2: "MA/QU/NE"
          pos3: "14 50 96"
        numConta: "0082348296"
        transacValidas: "068101068010"
        saldo: "000000005000"
      InfTransacao:
        cdProc: "029100"
        mensagemCliente: "Esta &eacute; uma mensagem para exibi&ccedil;&atilde;o em\
          \ tela."
        nsu: "000080247206"
        codMoeda: "986"
        codOperadora: "00000000914"
        dataLocal: "1122"
        errorMessage: ""
        valor: "5000"
        horaLocal: "151032"
        nsuResposta: "820"
        dataHora: "1122151032"
      Cripto:
        hash: "hash"
      Terminal:
        codEstab: "000000000742673"
        tipo: "008"
        id: "05100004"
  infAutenticacaoReq:
    type: "object"
    required:
    - "cpf"
    - "telefone"
    properties:
      cpf:
        type: "string"
        example: "02358422785"
        description: "Número do CPF do cliente a autenticar (11 dígitos)."
        pattern: "^\\d{11}$"
      telefone:
        type: "string"
        example: "51999999999"
        description: "Telefone do cliente favorecido a autenticar (11 dígitos = DDD\
          \ com 0 quando número tem 8 dígitos, sem 0 quando número tem 9 dígitos)."
        pattern: "^\\d{11}$"
    description: "Informações da requisição de autenticação."
  infAutenticacaoResp:
    type: "object"
    required:
    - "nomeCliente"
    properties:
      nomeCliente:
        type: "string"
        example: "Carl Edward Sagan"
        description: "Nome do cliente se autenticando."
    description: "Informações da resposta da requisição de autenticação."
    example:
      nomeCliente: "Carl Edward Sagan"
  infCompraTitulosCapitalizacaoReq:
    type: "object"
    required:
    - "cpf"
    - "idProduto"
    - "quantidade"
    - "telefone"
    properties:
      cpf:
        type: "string"
        example: "02358422785"
        description: "Número do CPF do cliente favorecido da transação (11 dígitos)."
        pattern: "^\\d{11}$"
      idProduto:
        type: "string"
        example: "7"
        description: "Produto utilizado na operação."
        pattern: "^\\d+$"
      quantidade:
        type: "string"
        example: "2"
        description: "Quantidade de itens do produtos."
        pattern: "^\\d+$"
      telefone:
        type: "string"
        example: "05199999999"
        description: "Telefone do cliente favorecido da transação (11 dígitos = DDD\
          \ com 0 quando número tem 8 dígitos, sem 0 quando número tem 9 dígitos)."
        pattern: "^\\d{11}$"
    description: "Informações da requisição de compra de títulos de capitalização."
  infCompraTitulosCapitalizacaoResp:
    type: "object"
    required:
    - "recibo"
    properties:
      recibo:
        type: "string"
        example: "@               TITULOS COMPRADOS                @             \
          \                                   @ NOME DO TITULO:  XXXXXXXXXXXXX   \
          \              @ QUANTIDADE: 2                                  @ VALOR:\
          \ R$ 25,00                                @ VALOR TOTAL: R$ 50,00      \
          \                    @ TELEFONE: 05199999999                          @\
          \ CPF: 02358422785                               "
        description: "Recibo com informações da compra. Linhas com 48 posições separadas\
          \ por \"@\"."
        pattern: "^[^@]{0,48}(\\@[^@]{0,48})*$"
    description: "Informações da resposta da requisição de compra de títulos de capitalizaç\
      ão."
    example:
      recibo: "@               TITULOS COMPRADOS                @                \
        \                                @ NOME DO TITULO:  XXXXXXXXXXXXX        \
        \         @ QUANTIDADE: 2                                  @ VALOR: R$ 25,00\
        \                                @ VALOR TOTAL: R$ 50,00                 \
        \         @ TELEFONE: 05199999999                          @ CPF: 02358422785\
        \                               "
  infConsultaContaReq:
    type: "object"
    required:
    - "modalidadeDeposito"
    properties:
      codBanco:
        type: "string"
        example: "237"
        description: "Código do banco utilizado na operação (3 dígitos)."
        pattern: "^\\d{3}$"
      cpfFavorecido:
        type: "string"
        example: "02358422785"
        description: "Número do CPF ou CNPJ do cliente favorecido da transação (11\
          \ dígitos ou 14 dígitos respectivamente)."
        pattern: "^\\d{14}|\\d{11}$"
      modalidadeDeposito:
        type: "string"
        example: "00"
        description: "Indica a modalidade de depósito desejada (2 dígitos, 00 = dinheiro,\
          \ 01 = cheque)."
        enum:
        - "00"
        - "01"
      numAgencia:
        type: "string"
        example: "4029"
        description: "Número da agência utilizada na operação."
        pattern: "^\\d+$"
      numConta:
        type: "string"
        example: "0082348296"
        description: "Número da conta utilizada na operação."
        pattern: "^\\d+$"
      telefoneFavorecido:
        type: "string"
        example: "05199999999"
        description: "Telefone do cliente favorecido da transação (11 dígitos = DDD\
          \ com 0 quando número tem 8 dígitos, sem 0 quando número tem 9 dígitos)."
        pattern: "^\\d{11}$"
    description: "Informações da requisição de consulta de conta do favorecido do\
      \ depósito."
  infConsultaContaResp:
    type: "object"
    required:
    - "depositoIdentificado"
    - "habilitaDeposito"
    - "modalidadeDeposito"
    - "nomeCliente"
    - "solicDoc"
    properties:
      depositoIdentificado:
        type: "string"
        example: "00"
        description: "Indica a operação de depósito deve ser identificada (00 = Nã\
          o / 01 = Sim)."
        enum:
        - "00"
        - "01"
      habilitaDeposito:
        type: "string"
        example: "01"
        description: "Indica é permitido fazer depósito nessa conta (00 = Não / 01\
          \ = Sim)."
        enum:
        - "00"
        - "01"
      modalidadeDeposito:
        type: "string"
        example: "00"
        description: "Igual à requisição."
        enum:
        - "00"
        - "01"
      nomeCliente:
        type: "string"
        example: "Carl Edward Sagan"
        description: "Nome do cliente titular da conta."
      solicDoc:
        type: "string"
        example: "00"
        description: "Indica se deve ser solicitado o CPF/CNPJ do depositante (00\
          \ = Não / 01 = Sim)."
        enum:
        - "00"
        - "01"
      depositoVarejista:
        type: "string"
        example: "01"
        description: "Indica se a conta em questão permite Depósito Varejista  (00\
          \ = Não / 01 = Sim)."
        enum:
        - "00"
        - "01"
    description: "Informações da resposta da requisição de consulta de conta do favorecido."
    example:
      solicDoc: "00"
      modalidadeDeposito: "00"
      depositoVarejista: "01"
      nomeCliente: "Carl Edward Sagan"
      depositoIdentificado: "00"
      habilitaDeposito: "01"
  infConsultaLimitesEmprestimoResp:
    required:
    - "limiteMaximoEmprestimo"
    - "limiteMinimoEmprestimo"
    - "nomeAgenciaBancaria"
    - "nomeTitularConta"
    properties:
      nomeTitularConta:
        type: "string"
        example: "Carl Edward Sagan"
        description: "Nome do titular da conta."
      nomeAgenciaBancaria:
        type: "string"
        example: "Agência bancária"
        description: "Nome da agencia bancária."
      limiteMinimoEmprestimo:
        type: "string"
        example: "000000500000"
        description: "Valor mínimo permitido de empréstimo (12 caracteres, incluindo\
          \ centavos)."
        pattern: "^\\d{12}$"
      limiteMaximoEmprestimo:
        type: "string"
        example: "000005000000"
        description: "Valor máximo permitido de empréstimo (12 caracteres, incluindo\
          \ centavos)."
        pattern: "^\\d{12}$"
    description: "Informações da resposta da requisição de consulta de limite de empré\
      stimos."
    example:
      limiteMinimoEmprestimo: "000000500000"
      limiteMaximoEmprestimo: "000005000000"
      nomeAgenciaBancaria: "Agência bancária"
      nomeTitularConta: "Carl Edward Sagan"
  infConsultaParcelasEmprestimoReq:
    type: "object"
    properties:
      qtdParcelas:
        type: "string"
        example: "320"
        description: "Quantidade de parcelas informadas pelo cliente."
        pattern: "^\\d{03}$"
    description: "Informações da requisição de consulta de condições de parcelamento\
      \ de empréstimo."
  infConsultaParcelasEmprestimoResp:
    type: "object"
    required:
    - "limiteMaximoEmprestimo"
    - "limiteMinimoEmprestimo"
    - "nomeAgenciaBancaria"
    - "nomeTitularConta"
    - "opcoesParcelas"
    - "valorTotalDisponivel"
    properties:
      dataPrimeiraParcela:
        example: "20181122"
        description: "Data da primeira parcela do empréstimo (AAAAMMDD)."
      nomeTitularConta:
        type: "string"
        example: "Carl Edward Sagan"
        description: "Nome do titular da conta."
      nomeAgenciaBancaria:
        type: "string"
        example: "Agência bancária"
        description: "Nome da agencia bancária."
      valorTotalDisponivel:
        type: "string"
        example: "000000700000"
        description: "Valor total disponível para empréstimo (12 caracteres, incluindo\
          \ centavos)."
        pattern: "^\\d{12}$"
      limiteMinimoEmprestimo:
        type: "string"
        example: "000000500000"
        description: "Valor mínimo permitido de empréstimo (12 caracteres, incluindo\
          \ centavos)."
        pattern: "^\\d{12}$"
      limiteMaximoEmprestimo:
        type: "string"
        example: "000005000000"
        description: "Valor máximo permitido de empréstimo (12 caracteres, incluindo\
          \ centavos)."
        pattern: "^\\d{12}$"
      opcoesParcelas:
        type: "array"
        items:
          $ref: "#/definitions/installmentsOptionObj"
    description: "Informações da resposta da requisição de consulta de condições de\
      \ parcelamento de empréstimo."
    example:
      opcoesParcelas:
      - valorParcela: "000000005000"
        qntParcelas: "5"
        tributos:
          taxaJurosMensal: "0809445"
          iof: "0809445"
          cetAnual: "0809445"
          cetMensal: "0809445"
          valorSolicitado: "000000000499"
          dataContratacao: "20200928"
          valorJuros: "0002422"
          taxaJurosAnual: "0809445"
          ultimoVencimento: "20200928"
          iofAdicional: "0809445"
          primeiroVencimento: "20200928"
      - valorParcela: "000000005000"
        qntParcelas: "5"
        tributos:
          taxaJurosMensal: "0809445"
          iof: "0809445"
          cetAnual: "0809445"
          cetMensal: "0809445"
          valorSolicitado: "000000000499"
          dataContratacao: "20200928"
          valorJuros: "0002422"
          taxaJurosAnual: "0809445"
          ultimoVencimento: "20200928"
          iofAdicional: "0809445"
          primeiroVencimento: "20200928"
      limiteMinimoEmprestimo: "000000500000"
      limiteMaximoEmprestimo: "000005000000"
      valorTotalDisponivel: "000000700000"
      dataPrimeiraParcela: "20181122"
      nomeAgenciaBancaria: "Agência bancária"
      nomeTitularConta: "Carl Edward Sagan"
  installmentsOptionObj:
    type: "object"
    required:
    - "qntParcelas"
    - "tributos"
    - "valorParcela"
    properties:
      qntParcelas:
        type: "string"
        example: "5"
        description: "Quantidade de parcelas do empréstimo."
        pattern: "^\\d+$"
      valorParcela:
        type: "string"
        example: "000000005000"
        description: "Valor de cada parcela do empréstimo (12 dígitos)."
        pattern: "^\\d{12}$"
      tributos:
        $ref: "#/definitions/installmentsOptionObj_tributos"
    example:
      valorParcela: "000000005000"
      qntParcelas: "5"
      tributos:
        taxaJurosMensal: "0809445"
        iof: "0809445"
        cetAnual: "0809445"
        cetMensal: "0809445"
        valorSolicitado: "000000000499"
        dataContratacao: "20200928"
        valorJuros: "0002422"
        taxaJurosAnual: "0809445"
        ultimoVencimento: "20200928"
        iofAdicional: "0809445"
        primeiroVencimento: "20200928"
  infRecargaPrePagoReq:
    type: "object"
    required:
    - "ddd"
    - "nomeOperadora"
    - "telefone"
    - "valorRecarga"
    properties:
      nomeOperadora:
        type: "string"
        example: "CLARO"
        description: "Nome da operadora de telefonia para recarga."
        pattern: "^.*$"
      valorRecarga:
        type: "string"
        example: "000000005000"
        description: "Valor de recarga a ser solicitado para operadora de telefonia."
        pattern: "^\\d{12}$"
      ddd:
        type: "string"
        example: "51"
        description: "Código da área do telefone favorecido."
[...]
